{% extends 'booking/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <img src="/static/images/all_right (1250 x 833).jpg" class="img-fluid" alt="">
    </div>

</div>
<div class="card-group">
    <div class="card options card1">
        <img class="card-img-top" src="/static/images/bronze (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SEFETY INSPECTION</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
            </ul>
        </div>
    </div>
    <div class="card options card2">
        <img class="card-img-top" src="/static/images/silver (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SEFETY INSPECTION +PLUS</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
                <li>Accident check on you vehicle</li>
                <li>Extended tire control on your vehicle</li>
            </ul>
        </div>
    </div>
    <div class="card options card3">
        <img class="card-img-top" src="/static/images/gold (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">COMPLETE SEFETY INSPECTION</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
                <li>Accident check on you vehicle</li>
                <li>Extended tire control on your vehicle</li>
                <li>Extended engine electronics check</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}