{% extends 'booking/main.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #202a41;">
    <a class="navbar-brand" href="#">Navbaras</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'log' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div>
        <img src="/static/images/picture3.jpg" class="img-fluid" alt="Man checks uses diagnostics tool">
    </div>

</div>
<div class="card-group">
    <div class="card options card1">
        <img class="card-img-top" src="/static/images/bronze (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SEFETY INSPECTION</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
            </ul>
        </div>
    </div>
    <div class="card options card2">
        <img class="card-img-top" src="/static/images/silver (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SEFETY INSPECTION +PLUS</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
                <li>Accident check on you vehicle</li>
                <li>Extended tire control on your vehicle</li>
            </ul>
        </div>
    </div>
    <div class="card options card3">
        <img class="card-img-top" src="/static/images/gold (400 x 35).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">COMPLETE SEFETY INSPECTION</h5>
            <ul class="card-text">
                <li>ABS brakes</li>
                <li>Crash protection</li>
                <li>Accident check on you vehicle</li>
                <li>Extended tire control on your vehicle</li>
                <li>Extended engine electronics check</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}